*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  color: #333;
  font: 15px 'Open sans', sans-serif;
}

p, li {
  line-height: 1.6;
}

pre {
  padding: 1em;
  border: 1px dashed gray;
  line-height: 1.3;
  font-size: 0.9em;
}


#container {
    padding: 0 1.5em;
}

.sidebar {
  text-align: center;
}

.navitem {
    width: 50%;
    padding: 6%;
    float:left;
}

.navitem img {
    max-height: 100%;
    max-width: 100%;
}

@media (min-width : 550px) {

    .sidebar {
        float: left;
        width: 15%;
        max-width: 150px ;
    }

    #container {
        width: 65%;
        margin-left: 5%;
        float: left;
    }

    .navitem {
        padding: 15%;
        width: auto;
        float: none;
    }
}

@media (min-width : 800px) {
    #container {
        /* width: 700px; */
        max-width: 600px ;
    }
}

.inactive {
    -webkit-filter: blur(2px);
  }

.blur {
    -webkit-filter: blur(2px);
    transition: 0.5s ease;}
.blur:hover { -webkit-filter: blur(0px) }

time {
  font-size: 0.6em;
  opacity:0.4;
}

.activepage {
  -webkit-filter: blur(0px);
}

.prevnext { overflow:hidden; }
/* .prevnext a:last-child { float: right; } */
/* .prevnext a:first-child { float: left; } */


/* homepage stuff */

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 1.5s ;
  z-index: -1;
}
