*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    color: #333;
    font: 15px 'Open sans', sans-serif;
}

p, li {
    line-height: 1.6;
}

pre {
    padding: 1em;
    border-style: dashed;
    border-width: 1px;
    border-color: #bbb;
    line-height: 1.3;
    font-size: 0.9em;
    overflow: scroll;
    overflow-x: auto;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: none;
    border-top: 1px solid gray;
}

a {
    text-decoration:none;
}

#container {
    padding: 0 1.5em;
}

.prevnext a:last-child { float: right; }
.prevnext a:first-child { float: left; }

@media (min-width : 550px) {
    #container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width : 800px) {
    #container {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (min-width : 1000px) {
    #container {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

time {
    font-size: 0.8em;
    opacity:0.6;
}

.prevnext { overflow:hidden; }
