<!DOCTYPE html>

<html>

    <head>
        <title><%= current_article ? current_article.title : "blog.jfo.click" %></title>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/stylesheets/all.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="initial-scale=1">
    </head>

    <body>
        <div id="container">

            <div class="site-header">
                <a href="/"><h4>jfo.click</h4></a> -
                <a href="/about"><h4>about</h4></a>
            </div>

            <%= yield %>
        </div>
    </body>

</html>
