<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/stylesheets/all.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>
    </head>

    <body>

        <div class='banner'>
            <span class='navitem'>
                <a href="/about"> <img class=" about" src="http://www.gravatar.com/avatar/78359dd9d3cf59abacfa85565edc1eb2?s=250" /></a>
            </span>

            <span class='navitem'>
                <a href="/blog"> <img class=" blog" src="/images/compex.png"/></a>
            </span>

            <span class='navitem'>
                <img class=" music" src="/images/guitar.png"/>
            </span>

            <span class='navitem'>
                <img class=" photo" src="/images/cam.png"/>
            </span>
        </div>

        <%= yield %>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>

            var thing = (window.location.pathname=='/') ? "index" : window.location.pathname.match(/(\w+)/)[1];
            $('.' + thing).addClass('activepage')

        </script>
    </body>
</html>
