<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/all.css">
    <link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body>

  <div class='sidebar'>

    <div class='quarters-txt'>
      <div class="v-cent"></div>
      jeff fowler
    </div>
    <div class="name">
      <a href="/"><img class="blur index" src="/images/logo.svg"/></a>
    </div>
    <div class='quarters'>
      <a href="/about"> <img class="blur about" src="http://www.gravatar.com/avatar/78359dd9d3cf59abacfa85565edc1eb2?s=500" /></a>
    </div>

    <div class='quarters-txt'>
      <div class="v-cent"></div>
      about
    </div>

    <div class='quarters'>
    <a href="/blog"> <img class="blur blog" src="/images/compex.svg"/></a>
    </div>

    <div class='quarters-txt'>
      <div class="v-cent"></div>
      blog
    </div>

    <div class='quarters'>
    <img class="blur music" src="/images/guitar.svg"/>
    </div>

    <div class='quarters-txt'>
      <div class="v-cent"></div>
      music
    </div>

    <div class='quarters'>
     <img class="blur photo" src="/images/cam.svg"/>
    </div>

    <div class='quarters-txt'>
      <div class="v-cent"></div>
      photo
    </div>

  </div>

  <div class='side'>
    <div class='name'>
      <div class="v-cent"></div>
    </div>
    <div class='quarters'>
      <div class="v-cent"></div>
    </div>
    <div class='quarters'>
      <div class="v-cent"></div>
    </div>
    <div class='quarters'>
      <div class="v-cent"></div>
    </div>
    <div class='quarters'>
      <div class="v-cent"></div>
    </div>
    <div style="height: 5%;"></div>
  </div>

  <%= yield %>

      <script>

        if (window.location.pathname=='/')
          var thing = 'index';
        else
          var thing = window.location.pathname.match(/(\w+)/)[1];

        $('.' + thing).addClass('activepage')

      </script>
  </body>
</html>
