<hr>
<h1>This is the about page</h1>
<hr>

<p>
My name is Jeff Fowler. I live in New York City, where I am a software engineer
at <a href="http://etsy.com">Etsy</a>.
</p>

<p>
I'm trying to write more here. All the .coms were taken. 'jfo' is my irc handle.
</p>

I also make <a href="https://jefffowler.bandcamp.com/">music</a>.

<p>Twitter: <a href="https://twitter.com/jeffowler" target="_blank">@jeffowler</a></p>
<p>Email: <a href="mailto:jeffowler@gmail.com" target="_blank">jeffowler@gmail.com</a></p>
<p>RSS: <a href="/feed.xml" target="_blank">blog.jfo.click/feed</a></p>

