---
layout: standard
hide_footer: true
---

<h1>This is the about page</h1>

<%# <p>It is about me.  My name is Jeff.</p> %>

<%# <p>I am a musician, photographer, and programmer living in Brooklyn.</p> %>

<%# <p>I exist at these interweb locations:</p> %>
<%# <ul> %>
<%#   <li><a href="https://github.com/urthbound">github</a></li> %>
<%#   <li><a href="https://twitter.com/jeffowler">twitter</a></li> %>
<%#   <li><a href="https://www.linkedin.com/pub/jeff-fowler/58/154/ab9">linkedin</a></li> %>
<%# </ul> %>

My email is <a href="mailto:jeffowler@gmail.com">jeffowler@gmail.com</a>

