---
title: Blog Posts
hide_footer: true
---

<% blog.articles.each do |article| %>
  <article>
      <a href="<%= article.url %>" style="text-decoration: none; color:black;"><%= article.title %></a>
      <time><%= article.date.strftime('%b %e %Y') %></time>
  </article>
<% end %>

