<% if drafts.any? %>
    <h1>Drafts</h2>
    <ul>
        <% drafts.each do |draft| %>
            <li><%= link_to draft.title, draft.path %></li>
        <% end %>
    </ul>
    <h1>Posts</h2>
<% end %>

<ul>
  <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
    <li>
      <h5><%= year %></h5>
      <ul>
        <% articles.each do |article| %>
          <li><a href="<%= article.url %>"><%= article.title %></a></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
