---
layout: layout
---

<div id="background" style="background-image: url(/images/backgrounds/1.jpg)"></div>

<script>
  var num = Math.floor(Math.random() * 7)
  document.getElementById('background').style.backgroundImage = "url(/images/backgrounds/"+num+".jpg)"
</script>
